.dataCard {
    max-width: 1200rem;
    border-left: 5px solid $red;
    background-color: white;
    border-radius: 2px;
    margin: 2rem 0;
    padding: 1rem;
    box-shadow: 5px 7px 6px rgba($mid-grey, 0.5);

    &:nth-child(2) {
      border-color: $navy;
    }
    &:nth-child(3) {
      border-color: $yellow;
    }
    &:nth-child(4) {
      border-color: $teal;
    }
    &:nth-child(5) {
      border-color: $darkGreen;
    }

    @media (max-width: 1200px) {
      margin: 2rem;
    }

    h2 {
      text-align: left;
      margin: 1rem;
    }
}

.dataCard__title__container--unrecorded { 
    h2 {
      margin: 0;
      padding: 1rem;
    }
    
    &:hover {
    cursor: pointer;
    }
}
  .dataCard__title__container {
    height: 100%;
    width: 100%;

    h2 {
      margin: 0;
      padding: 1rem;
    }
  }

  .dataCard__dataItems {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }


  .dataItem {
    padding: 1rem;
    text-align: left;
    min-width: 25rem;

    h3 {
      font-size: 0.9em;
      font-style: italic;
      font-weight: normal;
      margin: 0;
    }

    p {
      font-size: 1.3rem;
      padding: 0;
      margin: 0.5rem 0rem;
    }
}



.dataItem--text {
  order: 1;

}


.dataItem--number {
  order: 99;
}

.arrow {
  display: inline-block;
  margin: 0.5rem 0.5rem 0.3rem 0.5rem;
  width: 0; 
  height: 0; 
  border-left: 0.5rem solid transparent;
  border-right: 0.5rem solid transparent;
  border-top: 0.5rem solid black;
  transition: all 2s ease;
}


.arrow-right {
  transform: rotateZ(-90deg);
}