footer {
  background-color: #eee;
  padding: 20px 30px;
  margin: 20px 0 0 0;
  box-shadow: 0 50vh 0 50vh $light-grey; // this gives the illusion of the footer stretching to the bottom of the viewport

  p {
    margin: 0;
    text-align: left;
    font-size: 14px;
  }

  .footer-container__credit {
    padding-top: 10px;
  }
}

.footer-container {
  text-justify: left;
}
