.content-container {
  // max-width: 600px;
  margin: 0 auto;
}

table {
  margin: 0 auto;
  // max-width: 900px;
  text-align: center;
}

.dataTable__data--key {
  width: 600px;
  padding: 7px;
}

.dataTable__data--value {
  width: 400px;
}

.speciesData {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: space-around;
  // border: black 1px solid;

  .speciesData__section {
    margin: 10px;
    padding: 10px;
    // border: 1px red solid;
    max-width: 600px;
    background-color: $light-grey;
  }
}